<div class="project">
	<div class="actions">
		<div class="actions-content">
			<button [routerLink]="['../project']">View project</button>
		</div>
	</div>
	<div class="projectImage">
		<img src="../../assets/images/logo.svg" alt="Where are you logo">
	</div>
	<div class="projectInfo">
		<p class="title">Project Name here</p>
		<p class="projectVersion"><span class="version">V1</span>datehere</p>
	</div>
	<div class="notification-block">
		<span class="bg-primary">2</span>
		<span class="bg-success"><fa-icon [icon]="['far', 'comments']"></fa-icon></span>
		<span class="bg-danger"><fa-icon icon="clipboard-list"></fa-icon></span>
	</div>
</div>