<div class="header">
	<div class="container-fluid">
		<div class="header-contents">
			<div class="logo">
				<p><img src="../../assets/images/logo.svg" alt="Where are you logo"></p>
			</div>
			<ul class="actions">
				<li><a href="#">Project</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Teams</a></li>
				<li><a href="#">...</a></li>
			</ul>
			<ul class="account-info">
				<li>Notifictions</li>
				<li>Sync</li>
				<li>Plans</li>
				<li>Profile</li>
			</ul>
		</div>
	</div>
</div>