@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/functions.scss';

.project{
	position: relative;
	padding: 4rem 0 0 3rem;
}
.projectDetails{
	position: fixed;
	width: 100%;
	background-color: #535353;
	padding: 0.5rem 1rem;
	color: #f0f0f0;
	height: 2.5rem;
	p{
		margin-bottom: 0;
	}
	.projectDetails{
		float: left;
	}
}
.tool-box{
	position: fixed;
	left: 0;
	top: 4rem;
	padding-top: 1rem;
	color: #fafafa;
	height: 100vh;
	background-color: #535353;
	border-right: 2px solid #2d2d2d;
	.title{
		margin-bottom: 0;
	}
}
.projectImage{
	position: relative;
	margin: 2.5rem 0 0 0;
	img{
		width: 100%;
	}
	.tasksInput{
		position: absolute;
		background-color: #fff;
		border: 1px solid #222;
		@include box-shadow($depth-1);
		.taskAssignment{
			position: relative;
			padding: 0.25rem;
			margin-bottom: 0;
			> p{
				margin-bottom: 0;
				padding: 0.25rem 0.5rem;
				&:hover{
					cursor: pointer;
					background-color: #535353;
					color: #fafafa;
				}
			}
			.assign-task,
			.close-task{
				position: absolute;
				color: #fff;
				background-color: red;
				right: -18px;
				top: -18px;
				width: 25px;
				height: 25px;
				text-align: center;
				opacity: 0.5;
				@include border-radius(100%);
				&:hover{
					cursor: pointer;
					opacity: 1;
				}
			}
			.assign-task{
				background-color: green;
				right: unset;
				left: -18px
			}
		}
	}
}
.tool-block{
	position: absolute;
	color:#fff;
}
.projectComment{
	position: absolute;
}
