<div class="tool-box">
	<ul class="tools">
		<li>
			<fa-icon icon="user-plus"></fa-icon>
			<span class="tool-tip">Add member</span>
		</li>
		<li>
			<fa-icon icon="clipboard-list"></fa-icon>
			<span class="tool-tip">Project Tasks</span>
		</li>
		<li>
			<fa-icon icon="code-branch"></fa-icon>
			<span class="tool-tip">Version</span>
		</li>
		<li>
			<fa-icon icon="link"></fa-icon>
			<span class="tool-tip">Project link</span>
		</li>
		<li>
			<fa-icon icon="file"></fa-icon>
			<span class="tool-tip">Project Info</span>
		</li>
	</ul>
</div>