.tools{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	width: 3rem;
	margin-right: 0;
	padding-left: 0;
	li{
		height: 1.75rem;
		color: #fff;
		text-align: center;
	}
}